body{background-color: lightskyblue; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; padding-left: 2%;padding-right: 2%;}
header{text-align: center;}
h2{text-align: center; background-color: navy;color:white}
h4{text-align: center;}
.collection>article{background-color: #267DDF;}
.collection>article>img{width: 40rem; padding: 3rem 3rem 3rem 3rem; vertical-align:middle; align-items:center;}
iframe{width:40rem; align-items:baseline;padding-bottom: 3rem;}
.contact>p{text-align: center;}
@media (min-width:350px){
    .collection>article>img{width:20rem; align-items: center;padding-left: 20%;}
    iframe{width: 40%;; align-items:center;padding: 2rem 2rem 2rem 2rem; padding-left: 33%;}
    
}
@media (min-width:1000px){
    .collection>article>img{width:40%; align-items: center; padding-left: 5rem;}
    iframe{width: 40%;; align-items:center;padding: 2rem 2rem 2rem 2rem; padding-left: 28%;}
    
}
